<div class="footer-parent">

  <div class="footer rounded">

    <div class="col">
      <ul class="flat-vert">
        <li class="flat-vert title">about</li>
        <li><%= link_to "about", about_url %></li>
        <li><%= link_to "update", update_url %></li>
      </ul>
    </div>

    <div class="col">
      <ul class="flat-vert">
        <li class="flat-vert title">help</li>
        <li><%= link_to "contact us", about_url %></li>
      </ul>
    </div>

  </div>

  <p class="bottommenu">
  This website is a educational recreation of the website  <%= link_to "reddit.com", "http://www.reddit.com/" %>.  This website doesn't have any commercial interests.
  </p>

</div>