<div class="side">

  <br>
  <form action="<%= root_url %>" id="search">
    <input type="text" name="query" placeholder="search reddit clone">
  </form>
  <br>

  <%= link_to "Submit a new link", new_post_url(link: true), class: "morelink"%>
  <br>
  <%= link_to "Submit a new text post", new_post_url, class: "morelink" %>
</div>