<h1>About</h1>

Coded by Chris Cowell
cell: 614-370-9978


    <span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background:-webkit-linear-gradient(orange,white);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size: 24px'>
    </span>

    <span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white, orange); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; font-size: 24px'></span>


    <span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(purple, white);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px'>
    </span>

    <span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white, purple); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; font-size: 24px'></span>

    <span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(grey, white);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px'>
    </span>

    <span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white, grey); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; font-size: 24px'></span>