  <div class=" thing odd link ">

  <span class="rank"><%= ( @count + idx + 1 ) %></span>

  <div class="midcol unvoted"><!-- voting div -->
    <!-- upvote button -->
    <button>+</button>
    <div class="score unvoted"><%= post.votes.sum(:value) %></div>
    <button>-</button>
    <!-- downvote button -->
  </div>

  <a class="thumbnail may-blank loggedin" href="#"><img src="http://i.imgur.com/Uek5LUD.jpg" width="100" height="100" alt=""></a>

  <div class="entry unvoted">
    <p class="title"><a class="title may-blank loggedin" href="#" tabindex="1">Title here</a>

    <span class="domain">(<a href="/domain/i.imgur.com/">i.imgur.com</a>)
    </span></p>

    <p class="tagline">submitted <time class="live-timestamp">4 hours ago</time> by <a href="#" class="author may-blank">author</a>

    <span class="userattrs">
    </span> to <a href="#" class="subreddit hover may-blank">/r/sub</a></p>

    <ul class="flat-list buttons">
    <li class="first">
      <a href="#" class="comments may-blank">10 comments</a>
    </li>

    <li class="share">
      <a href="#">share</a>
    </li>

    <li class="link-save-button save-button">
      <a href="#">save</a>
    </li>

    <li><!-- jquery hide -->
      <a href="#" class="state-button hide-button">hide</a>
    </li>

    <li>
      <a href="#" class="toggle report-button ">report</a>
    </li>
    </ul>
  </div>

  <div class="clearleft"></div>

  </div>











  <div class="thing odd link" id="div<%= ( @count + idx + 1 ) %>">
  <!-- rank number logic -->
  <span class="rank"><%= ( @count + idx + 1 ) %></span>

  <div class="midcol unvoted"><!-- voting div -->
    <!-- upvote button -->
    <%= button_to "+", upvote_post_url(action: :upvote, id: post.id) %>
    <div class="score unvoted"><%= post.votes.sum(:value) %></div>
    <%= button_to "-", downvote_post_url(action: :downvote, id: post.id) %>
    <!-- downvote button -->
  </div>
  <!-- net upvote/downvote display -->

  <!-- image logic -->

  <% if post.url.include?(".jpg") || post.url.include?(".gif")  %>
    <img src="<%= post.url %>" height="100" width="100">
  <% else %>
    <%= image_tag("no_img.gif", size: "100x100") %>
  <% end %>

  <!-- link logic -->
  <% if post.url != "" %>
    <%= link_to post.title, post.url %>
    (<%= post.url.split('/')[2] %>)
  <% else %>
      <%= link_to post.title, post_url(post) %>
  <% end %>
  <br>

  <!-- time logic -->
  <% hours = (Time.now.to_i - post.created_at.to_i) / 3600 %>
  <%= " Submited #{hours} hours ago by " %>

  <!-- owner logic -->
  <%= link_to post.user.username, user_url(post.user) %>

  <!-- Comments Link -->
  <%= link_to " #{post.comments.length} Comments ", post_comments_url(post)  %>

  <!-- hide jquery logic -->
  <%= javascript_tag "  $(document).ready(function(){
    $('#link#{( @count + idx + 1 )}').click(function(){
      $('#div#{( @count + idx + 1 )}').fadeOut('slow');
    });
  });" %>
  <!-- jquery link to fadeout -->
  <a href="#" id="link<%=( @count + idx + 1 )%>">hide</a>

  </div>
  <br>