
  <div class="child" id="<%= post.id %>-child">

    <form id="<%= post.id %>-share-form" action="#"
       method="" class="usertext cloneable" style="display: none;">
      <div class="usertext-edit">
        <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

        <textarea placeholder="email@example.com"
        name="comment[body]"></textarea>

        <button type="submit">share</button>
        <button id="disa-<%= post.id %>" type="reset">cancel</button>
        <!-- jquery reply -->
        <%= javascript_tag "  $(document).ready(function(){
          $('#disa-#{post.id}').click(function(){
            $('##{post.id}-share-form').slideUp('slow');;
          });
        });" %><!-- jquery reply end -->
      </div>
    </form>

  </div><!-- end of child comment -->