<!-- recursive commment template -->
<p>

  <%= "#{comment.body} " %><br>
  <%= link_to "-> reply",
   new_post_comment_url( parent_id: comment.id ) %>
   <!-- comment.post.id, comment.id -->
</p>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li><%= comment_partial(child_comment, comments_by_parent) %></li>
  <% end %>
</ul>