<br><br>

<%= render "static_pages/post", post: @post, idx: 0 %>

<!-- Comment Area -->
<div class="commentarea">

<h4>top <%= @post.comments.length %> comments</h4>

<%= link_to "New Comment", new_post_comment_url %>
<br><br>

<!-- recursive comments -->
<ul>
  <% comments_by_parent = @post.comments_by_parent %>

  <% comments_by_parent[nil].each do |top_level_comments| %>
    <li><%= comment_partial(top_level_comments, comments_by_parent) %></li>
  <% end %>
</ul>
<!-- end of recursive comments -->

</div>