<h1>User Show</h1>

<!-- todo: sort by votes -->
<% @posts.each_with_index do |post, idx| %>

  <%= render "static_pages/post", post: post, idx: idx %>

<% end %>

<!-- Next & Prev link pagation logic -->
<!-- generates links like localhost:3000/?count=5 -->
<%= link_to_if(@count && @count - @pagesize >= 0 ,
 "< Prev ", user_url(count: (@count - @pagesize)) ) %>
<%= link_to_if( @total > @count + @pagesize,
 " Next >", user_url(count: @count + @pagesize) )%>