<h3>Post Index</h3>

<% @posts.each_with_index do |post, idx| %>

  <%= render "static_pages/post", post: post, idx: idx %>

<% end %>

<!-- generates links like localhost:3000/?count=5 -->
<span class="nextprev">view more:
  <%= link_to("‹ prev", root_url(count: (@count - @pagesize))
  ) if @count && @count - @pagesize >= 0 %>
  <%= link_to("next ›", root_url(count: (@count + @pagesize))
  ) if @total > @count + @pagesize %>
</span>