<%= "<h1>No Results Found!</h1>".html_safe if @posts.length == 0 %>

<% @posts.each_with_index do |post, idx| %>

  <%= render "static_pages/post", post: post, idx: idx %>

<% end %>

<% if @total > @pagesize %>
<span class="nextprev">view more:
  <%= link_to("‹ prev", root_url(count: (@count - @pagesize),
   sub: params[:sub], query: params[:query] )
  ) if @count && @count - @pagesize >= 0 %>

  <%= link_to("next ›", root_url(count: (@count + @pagesize),
   sub: params[:sub], query: params[:query] )
  ) if @total > @count + @pagesize %>
</span>
<% end %>