<h3>Post Index</h3>

<% @posts.each_with_index do |post, idx| %>

  <%= render "static_pages/post", post: post, idx: idx %>

<% end %>

<!-- generates links like localhost:3000/?count=5 -->
<%= link_to_if(@count && @count - @pagesize >= 0 ,
 "< Prev ", root_url(count: (@count - @pagesize)) ) %>
<%= link_to_if( @total > @count + @pagesize,
 " Next >", root_url(count: @count + @pagesize) )%>