<h4>submit to reddit clone</h4>

<form class="submit content" action="<%= posts_url %>" method="post">

<ul class="tabmenu formtab ">
<li class="" id="link-li"><a href="#" class="link-button">link</a></li>
<li class="selected" id="text-li"><a href="#" class="text-button">text</a></li>
</ul>

<div class="formtabs-content">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <div class="roundfield spacer" id="title-field">
    <span class="title">title</span>

    <div class="roundfield-content">
      <input id="title" type="text" name="post[title]">
    </div>
  </div>

  <div class="roundfield spacer" id="url-field">
    <span class="title">url</span>

    <div class="roundfield-content">
      <input id="url" name="post[url]" type="url">
    </div>
  </div>

  <div class="roundfield spacer" id="text-field">
    <span class="title">text</span>
    <span class="gray">(optional)</span>

    <div class="roundfield-content usertext">
      <textarea name="post[body]"></textarea>
    </div>
  </div>
</div><!-- end of formtabs-content -->

<button>submit</button>
</form>